html {
    text-align: center;
}

nav {
    height: 69px;
    width: 100%;
    display: flex;
    border-bottom: 1px solid black;
    font-size: 1rem;
    justify-content: center;
}

nav ul {
    display: flex;
    list-style: none;
    width: 90%;
    justify-content: space-evenly;
    align-items: center;
}


#darkmode {
    height: 1rem;
    width: 1rem;
    opacity: 50%;
}